# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3
data/*.db

# IDE
.vscode/
.idea/

# Environment
.env

# Streamlit
.streamlit/secrets.toml
